.done{
    background-color: yellow;
    padding: 10px 5px;
    /* margin: 10px auto; */
    /* border: 2px solid black; */
}

.done a{
    text-decoration: none;
    /* border: 1px solid blanchedalmond; */
    padding: 5px 10px;
}

.update {
    background-color: green;
}

.delete {
    background-color: red;
}